@charset "UTF-8";
@import url("https://fonts.googleapis.com/css?family=Lato:100,300,400");
@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300;500;600;700&display=swap");
:root {
  font-size: 1em;
  box-sizing: border-box; }

*, *::before, *::after {
  box-sizing: inherit; }

body {
  font-family: 'Open Sans', 'Roboto'; }

html, body {
  margin: 0;
  font-size: 16px; }

h2 {
  color: #2d3436;
  text-decoration: none;
  font-family: 'Quicksand', sans-serif;
  font-size: 1.8rem;
  font-weight: 800;
  padding: 0; }

p {
  color: #2d3436;
  font-family: 'Quicksand', sans-serif;
  font-size: 1rem;
  font-weight: 500;
  margin-top: 0px; }

.ml-14 {
  margin-left: 14px; }

header .header__main {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../../img/background.jpg");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  height: 100%; }
  header .header__main--title {
    position: absolute;
    bottom: 50%;
    transform: translateY(50%);
    text-align: center; }
    header .header__main--title .main {
      font-family: 'Quicksand', sans-serif;
      font-size: 4rem;
      font-weight: 600;
      text-transform: uppercase;
      color: white;
      margin: 0px !important; }
    header .header__main--title .second {
      display: block;
      color: white;
      font-family: 'Quicksand', sans-serif;
      font-size: 1.2rem;
      font-weight: 500;
      padding: 0 5em;
      text-shadow: 2px 1px black; }

header nav {
  display: flex;
  align-items: center;
  border-bottom: 5px solid #be986d; }
  header nav div {
    flex: 1; }
    header nav div img {
      max-width: 100%;
      height: auto; }
  header nav ul {
    display: flex;
    align-items: center;
    justify-content: center;
    list-style-type: none;
    margin: 0;
    overflow: hidden;
    min-height: 35px; }
    header nav ul img {
      width: 145px;
      height: auto; }
  header nav li {
    color: #2d3436;
    padding: 1rem;
    margin-right: 0.875rem; }
  header nav li a {
    font-family: 'Quicksand', sans-serif;
    font-size: 0.938rem;
    font-weight: 800;
    display: block;
    color: #2d3436;
    text-decoration: none;
    text-transform: uppercase;
    position: relative; }
    header nav li a:before {
      content: "";
      position: absolute;
      width: 100%;
      height: 2px;
      bottom: -5px;
      left: 0;
      background-color: black;
      visibility: hidden;
      transform: scaleX(0);
      transition: all 0.3s ease-in-out 0s; }
    header nav li a:hover::before {
      visibility: visible;
      transform: scaleX(1); }
    header nav li a:hover {
      color: black; }

header .hamburger {
  color: black;
  font-weight: bolder;
  display: none;
  zoom: 185%; }

.header-button {
  font-family: 'Quicksand', sans-serif;
  font-size: 1rem;
  font-weight: 500;
  text-transform: uppercase;
  background-color: #be986d;
  display: block;
  margin: auto;
  margin-top: 2.5rem;
  border: none;
  border-radius: 3px;
  color: white;
  padding: 1rem 2rem;
  transition: 0.3s; }
  .header-button a {
    text-decoration: none;
    color: white; }
  .header-button:hover {
    cursor: pointer;
    background-color: #785d3f; }

footer .footer {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  background-color: #8d6b48;
  padding: 0 15vw; }
  footer .footer h3 {
    font-family: 'Quicksand', sans-serif;
    font-size: 1rem;
    font-weight: 800;
    text-transform: uppercase;
    color: white;
    margin-top: 5rem;
    letter-spacing: 2px; }
  footer .footer h3:after {
    content: "";
    display: block;
    width: 90%;
    padding-top: 1rem;
    border-bottom: 1px solid #EFF1F5; }
  footer .footer p {
    font-size: 0.875rem !important;
    color: white;
    padding-right: 2rem; }
  footer .footer .column {
    min-width: 300px;
    text-align: left;
    margin-bottom: 5rem; }
  footer .footer div:nth-child(2),
  footer .footer div:nth-child(3) {
    align-self: baseline !important; }
  footer .footer .socials {
    margin-right: auto; }
    footer .footer .socials .icons {
      display: block !important; }
      footer .footer .socials .icons span {
        font-family: 'Quicksand', sans-serif;
        font-size: 0.875rem;
        font-weight: 500;
        color: white;
        display: inline-block;
        width: 25px;
        margin-bottom: 7px; }
      footer .footer .socials .icons span:nth-of-type(even) {
        display: inline !important; }
  footer .footer .logo {
    background-image: url("../../img/teskab_final_png.png");
    background-size: 240px;
    background-position-y: center;
    background-repeat: no-repeat;
    min-height: 300px; }
  footer .footer a {
    text-align: left;
    text-decoration: none;
    font-family: 'Quicksand', sans-serif;
    font-size: 0.875rem;
    font-weight: 900;
    color: #b0bace; }

footer .footer-second {
  width: 100%;
  min-height: 35px;
  padding: 0 15vw;
  background: #493826;
  display: flex;
  flex-direction: row !important;
  align-items: center;
  justify-content: space-between; }
  footer .footer-second .btn-up {
    width: 30px;
    min-height: 25px;
    display: flex;
    justify-content: center;
    align-self: flex-end;
    margin-top: auto;
    background-color: #deb887;
    border-style: none;
    border-radius: 2px;
    margin-right: 1rem; }
    footer .footer-second .btn-up svg {
      fill: currentColor;
      width: 1em;
      height: 1em;
      display: inline-block;
      font-size: 1.5rem;
      transition: fill 200ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
      flex-shrink: 0;
      user-select: none; }
  footer .footer-second p {
    font-size: 1rem;
    text-align: center;
    color: white;
    padding: 14px 0px;
    margin-bottom: 0px !important; }
  footer .footer-second ul {
    list-style-type: none;
    margin: 0px; }
    footer .footer-second ul li {
      float: left;
      margin-left: 1rem; }
      footer .footer-second ul li a {
        font-family: 'Quicksand', sans-serif;
        font-size: 1rem;
        font-weight: 300;
        text-decoration: none;
        color: white; }
      footer .footer-second ul li:after {
        content: "•";
        color: #8d6b48;
        margin-left: 1rem; }
    footer .footer-second ul li:last-of-type:after {
      content: "" !important;
      margin-left: 0rem !important; }

.homepage__main {
  width: 100%;
  text-align: center; }
  .homepage__main div {
    display: flex;
    flex-direction: column; }
  .homepage__main--intro, .homepage__main--work {
    padding: 0 7vw;
    padding-top: 6rem; }
    .homepage__main--intro__title, .homepage__main--work__title {
      padding: 0 5em;
      color: #696969;
      font-size: 1rem; }
  .homepage__main--about {
    flex-direction: row !important;
    justify-content: space-evenly;
    margin-top: 8rem; }
    .homepage__main--about div:nth-child(3) p {
      padding-right: 0rem !important; }
    .homepage__main--about__wrapper {
      text-align: left;
      flex-direction: row !important; }
      .homepage__main--about__wrapper div:first-of-type {
        margin-right: 1.6rem; }
        .homepage__main--about__wrapper div:first-of-type i {
          font-size: 2rem;
          color: #8d6b48;
          margin-right: 12px; }
      .homepage__main--about__wrapper h3 {
        font-family: 'Quicksand', sans-serif;
        font-size: 1.25rem;
        font-weight: 800;
        display: flex;
        align-items: center;
        color: #2d3436;
        margin-top: 0px; }
  .homepage__main--work {
    margin-top: 8rem;
    padding: 5rem 15vw;
    background-color: #EFF1F5; }
    .homepage__main--work__wrapper {
      flex-direction: row !important;
      flex-wrap: wrap;
      margin-top: 5rem; }
      .homepage__main--work__wrapper img {
        width: 100%;
        height: auto; }
      .homepage__main--work__wrapper div:nth-child(even) {
        margin-left: 2rem; }
      .homepage__main--work__wrapper .card {
        background-color: white;
        width: calc(50% - 1rem); }
        .homepage__main--work__wrapper .card__text {
          padding: 1.2rem; }
          .homepage__main--work__wrapper .card__text p {
            margin-bottom: 0px !important; }
          .homepage__main--work__wrapper .card__text--small {
            font-size: 0.875rem; }
        .homepage__main--work__wrapper .card:hover {
          box-shadow: 3px 4px 2px grey; }
      .homepage__main--work__wrapper .photo-list {
        flex-direction: row !important;
        margin-top: 4rem; }
        .homepage__main--work__wrapper .photo-list a {
          width: calc(25% - 1.5rem);
          margin-left: 2rem; }
          .homepage__main--work__wrapper .photo-list a:hover {
            box-shadow: 3px 4px 2px grey; }
        .homepage__main--work__wrapper .photo-list a:nth-of-type(1) {
          margin-left: 0 !important; }
        .homepage__main--work__wrapper .photo-list__controls {
          flex-direction: row !important;
          width: 100%;
          justify-content: center;
          margin-top: 2rem;
          margin-left: 0px !important; }
          .homepage__main--work__wrapper .photo-list__controls .dot {
            margin: 0.2rem;
            height: 15px;
            width: 15px;
            background-color: #bbb;
            border-radius: 50%;
            display: inline-block; }
  .homepage__main--workWithUs {
    padding: 5rem 15vw; }

#contact {
  background-color: #EFF1F5;
  padding-top: 3rem; }
  #contact h2, #contact p {
    text-align: center;
    margin: 0px;
    margin-bottom: 0.83em; }
  #contact p {
    color: #696969;
    font-size: 1rem; }
  #contact .line {
    width: 100%;
    min-height: 125px;
    background-color: #c0c8d8;
    display: flex;
    align-items: center;
    justify-content: center; }
    #contact .line span {
      font-family: 'Quicksand', sans-serif;
      font-size: 1rem;
      font-weight: 500;
      color: white;
      display: inline-block; }
      #contact .line span i {
        margin-right: 0.5rem; }
      #contact .line span:first-of-type {
        margin-right: 2rem; }
  #contact .contact {
    display: flex;
    padding: 3rem 15vw;
    justify-content: center; }
    #contact .contact__form {
      display: flex;
      flex-direction: column;
      flex: 2;
      max-width: 45%; }
      #contact .contact__form input,
      #contact .contact__form textarea {
        padding: 0.625rem .75rem;
        font-family: 'Lato';
        color: black;
        font-size: 0.875em;
        border: none;
        margin-bottom: 2rem;
        border-radius: 24px; }
      #contact .contact__form textarea {
        min-height: 150px; }
      #contact .contact__form #submit {
        color: white;
        margin: 0px;
        font-weight: 500; }
    #contact .contact__info {
      flex: 3; }

#services {
  background-color: #EFF1F5;
  padding-top: 7rem; }
  #services h2, #services p {
    text-align: center;
    margin: 0px; }
  #services h2 {
    margin-bottom: 4rem; }
  #services p {
    color: #696969;
    font-size: 1rem; }
  #services .line {
    width: 100%;
    min-height: 125px;
    background-color: #c0c8d8;
    display: flex;
    align-items: center;
    justify-content: center; }
    #services .line p {
      color: white; }
    #services .line span {
      font-family: 'Quicksand', sans-serif;
      font-size: 1rem;
      font-weight: 500;
      color: white;
      display: inline-block; }
      #services .line span i {
        margin-right: 0.5rem; }
      #services .line span:first-of-type {
        margin-right: 2rem; }
  #services .services {
    padding-top: 2rem;
    padding-bottom: 8rem; }
    #services .services__row {
      display: flex;
      justify-content: space-evenly; }
      #services .services__row .item {
        display: flex;
        flex-direction: column;
        align-items: center; }
        #services .services__row .item img {
          width: 130px;
          margin-bottom: 2rem; }
        #services .services__row .item h3 {
          font-family: 'Rubik', sans-serif;
          font-size: 1.25rem;
          font-weight: 800;
          color: #2d3436;
          margin-top: 0px; }
    #services .services__more {
      padding: 7px;
      background: transparent;
      border: 1px solid black;
      border-radius: 12px;
      margin-top: 1rem;
      min-width: 85px; }
      #services .services__more:hover {
        border-color: #8d6b48;
        color: #8d6b48;
        cursor: pointer; }

.header__main--services {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  background: url("../../img/work/04.jpg");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  height: 60%; }
  .header__main--services--overlay {
    width: 100%;
    height: 100%;
    background-color: #8d6b48;
    opacity: 0.325; }
  .header__main--services--title {
    position: absolute;
    bottom: 50%;
    transform: translateY(50%);
    text-align: center; }
    .header__main--services--title .main {
      font-family: 'Quicksand', sans-serif;
      font-size: 4rem;
      font-weight: 500;
      text-transform: uppercase;
      color: white;
      margin: 0px !important; }
    .header__main--services--title .second {
      display: block;
      color: white;
      font-family: 'Quicksand', sans-serif;
      font-size: 1.2rem;
      font-weight: 300;
      padding: 0 5em;
      text-shadow: 2px 1px black; }

#gallery {
  background-color: #EFF1F5;
  padding-bottom: 8rem; }
  #gallery h2 {
    text-align: center;
    margin-bottom: 5rem;
    padding-top: 7rem;
    margin-top: 0px; }

.gallery {
  display: flex;
  flex-wrap: wrap;
  height: auto;
  width: 100%;
  padding: 0 14px; }

.gallery-item {
  flex: 1 0 24rem;
  height: 200px;
  margin: 1rem;
  box-shadow: 0.3rem 0.4rem 0.4rem rgba(0, 0, 0, 0.4);
  overflow: hidden; }

.gallery-image {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: transform 400ms ease-out; }

.gallery-image:hover {
  transform: scale(1.15); }

@supports (display: grid) {
  .gallery {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(23rem, 1fr));
    grid-gap: 2rem; }
  .gallery,
  .gallery-item {
    margin: 0; } }

@media only screen and (max-width: 687px) {
  .footer-second {
    justify-content: center !important; }
    .footer-second ul {
      display: none; } }

@media only screen and (min-width: 901px) {
  #myNav {
    display: none; } }

@media only screen and (max-width: 900px) {
  .column {
    min-width: 250px !important; }
  .footer-second {
    padding: 0 8vw !important; }
  .hamburger {
    float: right;
    display: block !important;
    padding: 12px;
    position: relative;
    zoom: 185%; }
  ul {
    display: none !important; }
  .overlay {
    height: 100%;
    width: 100%;
    display: none;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: black;
    background-color: rgba(0, 0, 0, 0.9); }
  .overlay-content {
    position: relative;
    top: 25%;
    width: 100%;
    text-align: center;
    margin-top: 30px; }
  .overlay a {
    padding: 8px;
    text-decoration: none;
    font-size: 36px;
    color: #818181;
    display: block;
    transition: 0.3s; }
  .overlay a:hover, .overlay a:focus {
    color: #f1f1f1; }
  .overlay .closebtn {
    position: absolute;
    top: 20px;
    right: 45px;
    font-size: 60px; } }

@media only screen and (max-width: 768px) {
  body, html {
    font-size: 14px; }
  header nav ul {
    padding: 0px;
    flex-direction: column; }
    header nav ul li:last-child,
    header nav ul img:nth-child(1) {
      margin-left: 0px;
      margin-right: 0px; }
  .footer {
    flex-direction: column !important; }
    .footer .logo {
      min-height: 200px !important; }
    .footer .column {
      margin-bottom: 1rem !important; }
    .footer h3 {
      margin-top: 2rem !important;
      text-align: center;
      position: relative; }
      .footer h3:after {
        width: 90% !important;
        position: absolute;
        left: 5%;
        margin-bottom: 8px; }
    .footer p {
      padding-right: 0px !important;
      max-width: 90%;
      margin-left: 5%;
      margin-top: 2rem; }
    .footer .icons {
      max-width: 90%;
      margin-left: 5%;
      padding-top: 1rem;
      padding-bottom: 1rem; }
      .footer .icons span {
        margin-bottom: 1rem !important; } }

@media only screen and (min-width: 768px) and (max-width: 1199px) {
  header .socials {
    padding: 1vh 12vw; }
  header nav ul {
    font-size: 0.8rem; }
    header nav ul img {
      margin-right: 1rem !important; }
  p {
    line-height: 1.425rem; }
  .footer {
    padding: 0 !important; } }

@media only screen and (min-width: 1200px) {
  body, html {
    font-size: 16px; }
  p {
    line-height: 1.725rem; } }
