@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap");
:root {
  font-size: 1em;
  box-sizing: border-box; }

*, *::before, *::after {
  box-sizing: inherit; }

body {
  font-family: 'Open Sans', 'Roboto'; }

html, body {
  margin: 0;
  font-size: 12px; }
  @media (min-width: 800px) {
    html, body {
      font-size: 14px; } }
  @media (min-width: 1200px) {
    html, body {
      font-size: 16px; } }

header .socials {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1vh 15vw;
  background-color: #dfe6e9;
  font-size: 0.75rem;
  font-family: 'Lato', sans-serif;
  font-weight: 600;
  border-bottom: 1px solid #dfe6c9; }
  header .socials a {
    text-decoration: none;
    color: #243d7e; }
    header .socials a i {
      margin-right: 0.5em; }
    header .socials a:hover {
      color: #4066c8; }
  header .socials__contact a {
    margin-right: 1.2em; }

header nav ul {
  display: flex;
  align-items: center;
  padding: 0 15vw;
  list-style-type: none;
  margin: 0;
  overflow: hidden;
  background-color: white; }

header nav li {
  float: left; }

header nav li a {
  display: block;
  color: #243d7e;
  text-align: center;
  padding: 16px;
  text-decoration: none;
  text-transform: uppercase;
  font-family: 'Lato', sans-serif;
  font-weight: 800; }

header nav img:nth-child(1) {
  margin-right: 3rem; }
