#contact {
  background-color: $light-grey;
  padding-top: 3rem;
  h2,p {
    text-align: center;
    margin: 0px;
    margin-bottom: 0.83em;
  }

  p {
    color: #696969;
    font-size: 1rem;
    
  }

  .line {
    width: 100%;
    min-height: 125px;
    background-color: darken($light-grey, 15%);
    display: flex;
    align-items: center;
    justify-content: center;

    span {
      @include fontLato(1rem, 500);
      color: white;
      display: inline-block;

      i {
        margin-right: 0.5rem;
      }

      &:first-of-type {
        margin-right: 2rem;
      }
    }
  }

  .contact {
    display: flex;
    padding: 3rem $layout_padding;
    justify-content: center;
     &__form {
       display: flex;
       flex-direction: column;
       flex: 2;
       max-width: 45%;
  
       input,
       textarea {
         padding: 0.625rem .75rem;
         font-family: 'Lato';
         color: black;
         font-size: 0.875em;
         border:none;
         margin-bottom: 2rem;
         border-radius: 24px;
       }

       textarea {
         min-height: 150px;
       }
       
       #submit {
         color: white;
         margin: 0px;
         font-weight: 500;
       }
  
     }
  
     &__info {
       flex: 3;
     }
  }
}

