.homepage {
	&__main {
		width: 100%;
		text-align: center;

		div {
			display: flex;
			flex-direction: column;
		}

		&--intro,
		&--work {
			padding: 0 7vw;
			padding-top: 6rem;
			&__title {
				padding: 0 5em;
				color: $sub_paragraph;
				font-size: 1rem;
			}
		}

		&--about {
			flex-direction: row!important;
			justify-content: space-evenly;
			margin-top: 8rem;

			div:nth-child(3) {
				p {
					padding-right: 0rem!important;
				}
			}

			&__wrapper {
				text-align: left;
			    flex-direction: row!important;

			    div:first-of-type {
			    	margin-right: 1.6rem;

			    	i {
			    		font-size: 2rem;
			    		color: $footer-color;
			    		margin-right: 12px;
			    	}
			    }


		    	h3 {
						@include fontLato(1.25rem, 800);
						display: flex;
						align-items: center;
						color: $text-color;
			    	margin-top: 0px;
		    	}
			}
		}

		&--work {
			margin-top: 8rem;
			padding: 5rem $layout_padding;
			background-color: $light-grey;

			&__wrapper {
				flex-direction: row!important;
				flex-wrap: wrap;
				margin-top: 5rem;

				img {
					width: 100%;
					height: auto;
				}

				div:nth-child(even) {
					margin-left: 2rem;
				}

				.card {
					background-color: white;
					width: calc(50% - 1rem);

					&__text {
						padding: 1.2rem;

						p {
							margin-bottom: 0px!important;
						}

						&--small {
							font-size: 0.875rem;
						}
					}

					&:hover {
						box-shadow: 3px 4px 2px grey;
					}
				}

				.photo-list {
					flex-direction: row!important;
					margin-top: 4rem;

					a {
						width: calc(25% - 1.5rem);
						margin-left: 2rem;

						&:hover {
							box-shadow: 3px 4px 2px grey;
						}
					}

					a:nth-of-type(1) {
						margin-left: 0!important;
					}

					&__controls {
						flex-direction: row!important;
						width: 100%;
						justify-content: center;
						margin-top: 2rem;
						margin-left: 0px!important;

						.dot {
							  margin: 0.2rem;
							  height: 15px;
							  width: 15px;
							  background-color: #bbb;
							  border-radius: 50%;
							  display: inline-block;
						}
					}
				}
			}

		}

		&--workWithUs {
			padding: 5rem $layout_padding;
		}

	}
}