.homepage {
	&__main {
		width: 100%;
		text-align: center;

		h2 {
			margin-top: 6rem;
		}

		div {
			display: flex;
			flex-direction: column;
		}

		&--intro {
			&__title {
				padding: 0 5em;
			}
		}

		&--about {
			flex-direction: row!important;
			justify-content: space-evenly;
			margin-top: 5rem;

			div:nth-child(3) {
				p {
					padding-right: 0rem!important;
				}
			}

			&__wrapper {
				text-align: left;
			    flex-direction: row!important;

			    div:first-of-type {
			    	margin-right: 2rem;

			    	i {
			    		font-size: 2rem;
			    		color: $light_green;
			    	}
			    }


		    	h3 {
						@include fontLato(1.25rem, 800);
						color: $main-color;
		    		margin-top: 0px;
		    	}
			}

			p {
				font-size: 1em!important;
				padding-right: 1.8rem;
			}
		}

	}
}