:root {
    font-size: 1em;
    box-sizing: border-box;
}

*,*::before,*::after {
    box-sizing: inherit;
}

body {
    font-family: 'Open Sans', 'Roboto';
}

html, body {
    margin: 0;
    font-size: 16px;
}

h2 {
    color: $text-color;
    text-decoration: none;
    @include fontLato(1.8rem, 800);
    padding: 0;
}


p {
    color: $text-color;
    @include fontLato(1.2rem, 300);
    margin-top: 0px;
}

.ml-14 {
    margin-left: 14px;
}

.green-button {
    @include fontLato(1rem, 300);
    text-transform: uppercase;
    background-color: $main_color;
    display: block;
    margin: auto;
    margin-top: 2.5rem;
    border: none;
    border-radius: 3px;
    color: white;
    padding: 1rem 2rem;
    transition: 0.3s;


    &:hover {
        cursor: pointer;
        background-color: darken($beaver, 15%);
    }
}

