:root {
    font-size: 1em;
    box-sizing: border-box;
}

*,*::before,*::after {
    box-sizing: inherit;
}

body {
    font-family: 'Open Sans', 'Roboto';
}

html, body {
    margin: 0;
    font-size: 16px;
}