@import url('https://fonts.googleapis.com/css?family=Lato:100,300,400');
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;500;600;700&display=swap');

@mixin fontLato($size, $weight) {
	font-family: 'Quicksand', sans-serif;
	font-size: $size;
	font-weight: $weight;
}