@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300;0,400;0,500;1,400&display=swap');

@mixin fontLato($size, $weight) {
	font-family: 'Rubik', sans-serif;
	font-size: $size;
	font-weight: $weight;
}