header {
	
	.header__main {
		position: relative;
		display: flex;
		align-items: center;
		justify-content: center;
		background: url('../../img/background.jpg');
		background-position: center center;
		background-repeat: no-repeat;
		background-size: cover;
		height: 100%;

    	&--overlay {
		   width: 100%;
		   height: 100%;
		   background-color: $footer_color;
		   opacity: 0.325;
    	}

    	&--title {
    		position: absolute;
    		bottom: 50%;
		    transform: translateY(50%);
    		text-align: center;
    		padding: $layout_padding;

    		.main {
    			@include fontLato(4rem, 500);
    			text-transform: uppercase;
				color: white;
    			margin: 0px!important;
    		}

    		.second {
    			display: block;
    			color: white;
    			@include fontLato(1.2rem, 300);
				padding: 0 5em;  
				text-shadow: 2px 1px black; 		
    		}
    	}

    }


	.socials {
		@include fontLato($font_small_text, 600);
		display: flex;
		min-height: 2rem;
		align-items: center;
		justify-content: space-between;
		padding: 0 $layout_padding;
		background-color: $main_color;
		border-bottom: 1px solid #dfe6c9;

		a {
			text-decoration: none;
			color: white;
			margin-left: 0.5rem;

			i {
				margin-right: 0.5em;
			}

			&:hover {
				color: lighten(white, 20%);
			}
		}

		&__contact {
			a {
				margin-right: 1.2em;
			}
		}
	}

	nav {
		display: flex;
		align-items: center;
		border-bottom: 5px solid $main-color;
		div {
			flex: 1;

			img {
				max-width: 100%;
				height: auto;
			}
		}
		ul {
			display: flex;
			align-items: center;
			justify-content: center;
			list-style-type: none;
			margin: 0;
			overflow: hidden;
			background-color: white;
			min-height: 35px;

			img {
				width: 145px;
				height: auto;
			}
		}

		li {
			color: $text-color;
			padding: 1rem;
			margin-right: 0.875rem;
		}

		li a {
			@include fontLato(0.938rem, 800);
			display: block;
			color: $text-color;
			text-decoration: none;
			text-transform: uppercase;
			position: relative;
	
			&:before {
				content: "";
				position: absolute;
				width: 100%;
				height: 2px;
				bottom: -5px;
				left: 0;
				background-color:darken($text-color, 20%);
				visibility: hidden;
				transform: scaleX(0);
				transition: all 0.3s ease-in-out 0s;
			}

			&:hover::before {
				visibility: visible;
				transform: scaleX(1);
			}
			&:hover {
				color: darken($text-color, 20%);
			}
		}
	}

}