header {
	
	.header__main {
		position: relative;
		display: flex;
		align-items: center;
		justify-content: center;
		background: url('../../img/bgheader.png');
	    background-position: center center;
    	background-repeat: no-repeat;
    	background-size: cover;
    	height: 100%;

    	&--overlay {
		   width: 100%;
		   height: 100%;
		   background-color: $main_color;
		   opacity: 0.6;
    	}

    	&--title {
    		position: absolute;
    		bottom: 50%;
		    transform: translateY(50%);
    		max-width: 50%;
    		text-align: center;

    		.main {
    			@include fontLato(4rem, 800);
    			text-transform: uppercase;
    			color: white;
    			margin: 0px!important;
    		}

    		.second {
    			color: #bdc3c7;
    			font-family: 'Lato', sans-serif;
    		}
    	}

    	&--button {
    		@include fontLato(1rem, 800	);
    		text-transform: uppercase;
    		background-color: $light_green;
		    display: block;
		    margin: auto;
		    margin-top: 2.5rem;
		    border: none;
		    border-radius: 3px;
		    color: white;
		    min-width: 250px;
		    padding: 1rem 2rem;
    	}

    }


	.socials {
		@include fontLato($font_small_text, 600);
		display: flex;
		min-height: 2rem;
		align-items: center;
		justify-content: space-between;
		padding: 0 $layout_padding;
		background-color: $light_grey;
		border-bottom: 1px solid #dfe6c9;

		a {
			text-decoration: none;
			color: $main_color;
			margin-left: 0.5rem;

			i {
				margin-right: 0.5em;
			}

			&:hover {
				color: lighten($main_color, 20%);
			}
		}

		&__contact {
			a {
				margin-right: 1.2em;
			}
		}
	}

	nav {
		ul {
			display: flex;
			align-items: center;
			padding: 0 $layout_padding;
			list-style-type: none;
			margin: 0;
			overflow: hidden;
			background-color: white;
		}

		li {
			color: $main_color;
		}

		li a {
			display: block;
			color: $main_color;
			padding: 1rem;
			text-decoration: none;
			text-transform: uppercase;
			font-family: 'Lato', sans-serif;
			font-weight: 800;
		}


		li:last-child {
			margin-left: auto;
		}

	}

}