header {
	.socials {
		display: flex;
		align-items: center;
		max-width: 75%;
		margin: auto;
		padding: 0.8em 0;
		background-color: red;

		&__contact {
			a {
				text-decoration: none;
			}
		}
	}
}