    @media only screen and (max-width: 414px) {

    }


    @media only screen and (max-width: 768px) {

    	body,html {
    		font-size: 14px;
    	}

    	header nav ul {
    		padding: 0px;
    		flex-direction: column;eee

			li:last-child,
			img:nth-child(1) {
				margin-left: 0px;
				margin-right: 0px;
			}

    	}

    }


    @media only screen and (min-width: 768px) and (max-width: 1199px) {
        header .socials {
            padding: 1vh $layout_padding_middle;
        }

        header nav ul {
            font-size: 0.8rem;

            img {
                margin-right: 1rem!important;
            }
        }

        .homepage {
            &__main {
                &--about {
                    p {
                        line-height: 1.425rem;
                    }
                }
            }
        }

    }

    @media only screen and (min-width: 1200px) {
    	
    	body, html {
    		font-size: 16px;	
    	}


    	.homepage {
            &__main {
                &--about {
                    p {
                        line-height: 1.725rem;
                    }
                }
            }
        }
    }