$font_normal_text: 1rem;
$font_small_text: 0.75rem;
$layout_padding: 15vw;
$layout_padding_middle: 12vw;

// colors
$light_grey: #dfe6e9;
$text-color: #bdc3c7;
$beaver: #a9845aff;
$main_color: #be986d;
$menu_items: #a48971ff;
$footer_color: #8d6b48;
$text_color: #2d3436;