$font_normal_text: 1rem;
$font_small_text: 0.75rem;
$layout_padding: 15vw;
$layout_padding_middle: 12vw;

// colors
$light_grey: #dfe6e9;
$text-color: #bdc3c7;
$light_green: #33d9b2;
$main_color: #49637E;
$footer_color: #2F4052;